{{template "base" .}} {{define "title"}}{{.Title}}{{end}} {{define "ogTags"}}
<meta property="og:title" content="{{.Title}}" />
<meta property="og:image" content="{{.CoverImage.Url}}" />
<meta property="og:image:width" content="{{.CoverImage.Width}}" />
<meta property="og:image:height" content="{{.CoverImage.Height}}" />
<meta property="og:site_name" content="Carl Riis" />
{{end}} {{define "main"}}

<div class="reader">
  <div style="display: flex; justify-content: space-between">
    <a id="exit-link" href="/"><span id="exit"></span>carlriis.com </a>
    <button id="theme-toggle" type="button">(dark mode)</button>
  </div>
  <div class="title-cover">
    <h1>{{.Title}}</h1>
    <p class="article-date">{{.Date}} Carl Riis</p>
  </div>

  {{.HtmlContent}}

  <br />
  <hr
    style="
      border-style: double;
      border-color: var(--color-hr);
      margin-bottom: 25px;
    "
  />
  <div class="secret-area">
    <div class="input-container">
      <input placeholder="Secret password" />
      <button id="button" class="confirm-button">Confirm password</button>
    </div>
    <div id="secret" class="hidden">
      <div class="message-container">
        <div id="correct-message">
          <h2>Password is correct</h2>
        </div>
        <div id="actual-secret" class="hidden">
          <div id="canvas-container" class="canvas-container"></div>
          <script>
            function setup() {
              let myCanvas = createCanvas(
                Math.min(600, window.innerWidth - 10),
                400
              );
              background("#eeeeee");
              myCanvas.parent("canvas-container");
            }
            let size = 10;
            let isStarted = false;
            function mousePressed() {
              size *= 0.75;
            }
            function draw() {
              if (!isStarted) {
                return;
              }
              fill(60, 120, 120);
              ellipse(mouseX, mouseY, size, size);
              size += 0.1;
            }
            document.getElementById("button").addEventListener("click", () => {
              document.getElementById("secret").classList.remove("hidden");
              document.getElementById("correct-message").scrollIntoView();
              const element = document.createElement("script");
              element.src = "https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js";
              document.getElementsByTagName("head")[0].append(element);
              setTimeout(() => {
                document.getElementById("correct-message").style =
                  "display: none";
                document
                  .getElementById("actual-secret")
                  .classList.remove("hidden");
                isStarted = true;
              }, 3000);
            });
          </script>
          You found it!! I've had this for a long time and no one seems to find
          this place. Please let me know that you did. You are special you.
        </div>
      </div>
    </div>
  </div>

  {{end}}
</div>
