{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <title>{{template "title" .}}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/prism.css" />
  <link rel="preload" href="/RobotoMono-VariableFont_wght.ttf" as="font" type="font/ttf">
  {{template "ogTags" .}}
</head>

<body>
  {{template "main" .}}
  <script src="/prism.js"></script>
</body>

</html>
{{end}}