{{template "base" .}} {{define "title"}}Carl Riis{{end}} {{define "ogTags"}}
<meta property="og:title" content="{{template "title" .}}" />
<meta property="og:image" content="https://carlriis.com/images/big-favicon.png" />
<meta property="og:image:width" content="205" />
<meta property="og:image:height" content="205" />
<meta property="og:site_name" content="Carl Riis" />
{{end}} {{define "main"}}
<div class="home-container">
  <div class="bio">
    <div class="bio-text">
      <h1 class="bio-name">Carl Riis</h1>
      <p>Hi. I'm Carl. This is my blog where I write things.</p>
    </div>
    <img class="bio-img" width="150px" height="225px" src="/images/me.jpg" alt="me" />
  </div>
  <div>
    Links:
    <a href="https://github.com/carltheperson">GitHub</a>,
    <a href="https://www.linkedin.com/in/carl-riis/">LinkedIn</a>,
    <a href="https://www.youtube.com/@carltheperson">YouTube</a>,
    <a href="#" onclick="alert('I read everything sent to this email: carlriis' + String.fromCharCode(63 + 1) + 'protonmail' + '' + '.com')">Email</a>,
    <a href="https://hyped.org">hyped.org</a>,
    <a href="https://www.dr.dk/p3/alle-sagde-det-var-en-daarlig-ide-nu-har-20-aarige-carl-tjent-en-halv-million">Article
      by DR (Danish)</a>
  </div>
  <div>
    <h2>Posts:</h2>
    <ul>
      {{range $val := .}} {{if not $val.IsUnlisted}}

      <li style="padding-bottom: 5px">
        <a href="/posts/{{$val.UrlName}}">{{$val.Title}} - {{$val.Date}}</a>
      </li>
      {{end}} {{end}}
    </ul>
  </div>
</div>

{{end}}
