{{template "base" .}} {{define "title"}}carltheperson{{end}} {{define "main"}}
<div class="reader">
  <h1 style="margin: 0">Carl The Person</h1>
  <div style="text-align: center; opacity: 0.75;">
   <a href="https://github.com/carltheperson">GitHub</a>, <a href="https://twitter.com/carltheperson">Twitter</a>, <a href="https://careful-tadpole-0ab.notion.site/6f943668cd594ab4989a3c084705d9fa?v=8f999a59952245fa9b6b0dcbb2700cfb">Cool links</a>
  </div>

  <p>
I'm a 19-year-old high school dropout and self-taught software engineer working in the Scandinavian food-tech space. Originally from Denmark, but recently packed my bags and moved to Stockholm.
  </p>

  <h2>Posts:</h2>

  <ul>
    {{range $val := .}}

    <li style="padding-bottom: 5px">
      <a href="/posts/{{$val.UrlName}}"
        >{{$val.Title}} - <i>{{$val.Date}}</i></i
      ></a>
    </li>

    {{end}}
  </ul>

  <br>
  <br>
</div>
{{end}}
