{{template "base" .}} {{define "title"}}carltheperson{{end}} {{define "main"}}
<div class="reader">
  <h1>Carl The Person</h1>
  <h2>Posts:</h2>

  <ul>
    {{range $val := .}}

    <li style="padding-bottom: 5px">
      <a href="/posts/{{$val.UrlName}}"
        >{{$val.Title}} - <i>{{$val.Date}}</i></i
      ></a>
    </li>

    {{end}}
  </ul>

  <br>
  <br>

  <a href="https://careful-tadpole-0ab.notion.site/6f943668cd594ab4989a3c084705d9fa?v=8f999a59952245fa9b6b0dcbb2700cfb" style="opacity: 0.4;">carltheperson's cool links</a>
</div>
{{end}}
