@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

body {
	font-family: "Source Serif Pro", serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 5px;
	text-align: center;
}

h2,h3, h4 {
	margin-bottom: -5px;
}

.reader {
	max-width: 800px;
	margin: auto;
	word-wrap: break-word;
	padding: 15px;
}

a {
	color: rgb(0, 33, 41);
}

img {
	max-width: 90vw;
	max-height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	margin-bottom: 10px;
}

blockquote {
	text-align: center;
	margin: 10px 5px;
	padding: 5px 10px;
	background-color: #fdf6e37a;
}

blockquote p {
	margin: 0;
}

@media only screen and (min-width: 800px) {
	img {
		max-width: 800px;
	}
}

@media (min-width: 3000px) {
	body {
		font-size: 25px;
	}

	.reader {
		min-width: 1000px;
	}
}

@media (max-width: 1500px) {
	.reader {
		max-width: 600px;
	}

	img {
		max-width: 600px;
	}
}

@media (max-width: 800px) {
	.reader {
		max-width: 99vw;
	}

	img {
		max-width: 90vw;
	}
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 16px;
}

#pillar {
	width: 350px;
	margin: 0 0 0 auto;
	opacity: 0.75;
}
.reader {
	min-height: calc(100vh - 295px);
}