* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'RobotoMono';
  max-width: 750px;
  margin: 0 auto;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: darkblue;
}

ul {
  list-style-position: inside;
  margin-left: 15px;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bio {
  display: flex;
  gap: 10px;
}

.bio img {
  border-radius: 10%;
}

.bio .bio-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}