@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.reader {
    max-width: 800px;
    margin: auto;
    word-wrap:break-word;
    padding: 15px;
}

.dark {
    background-color: rgb(15, 15, 15);
    color: white;
}

.dark a {
    color: cyan !important;
}

.file-header {
    background-color: lightgray;
}

.dark .file-header {
    background-color: rgb(26, 26, 26);
    border: 1px white solid !important;
}

a {
    color: rgb(0, 33, 41);
}


.language-* {
}

pre code pre {
    border: 1px solid rgb(92, 92, 92);
}
